.cover__subtitle{
    position: absolute;
    z-index: 3;
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 360px;
    height: 66px;
    margin-top: 429px;
    margin-left: 412px;
}
@media screen and (max-width: 768px){
    .cover__subtitle{
        position: absolute;
        z-index: 3;
        font-family: Inter;
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        width: 360px;
        height: 66px;
        margin-top: 299px;
        margin-left: 204px;
    }
}
@media screen and (max-width: 320px){
    .cover__subtitle{
        position: absolute;
        z-index: 3;
        width: 288px;
        font-family: Inter;
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        margin: 119px 16px 0;
    }
}