.page {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1280px;
    font-family: 'Inter', 'Arial', sans-serif; 
    font-weight: 400;
    color: white;
    text-rendering: optimizeLegibility;
}