.photo-grid {
    margin: 0 auto;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 284px));
    grid-template-rows: repeat(auto-fill, minmax(auto, 213px));
    grid-gap: 16px 16px;
    margin-top: 92px;
}
@media screen and (max-width: 1230px){
    .photo-grid{
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
        grid-template-rows: repeat(auto-fill, minmax(auto, 225px));
        grid-gap: 14px 14px;
    }
}
@media screen and (max-width: 950px){
    .photo-grid{
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, minmax(auto, 352px));
        grid-template-rows: repeat(auto-fill, minmax(auto, 264px));
        grid-gap: 16px;
    }
}
@media screen and (max-width: 736px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(auto-fit, minmax(auto, 288px));
        grid-template-rows: none;
        grid-gap: 12px;
    }
}