.intro__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 32px;
    width: 690px;
    height: 209px;
}
@media screen and (max-width: 768px){
    .intro__text{
        width: 720px;
        height: 209px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
        margin: 0 0 32px;
    }
}
@media screen and (max-width: 320px){
    .intro__text{
        width: 288px;
        height: 522px;
        font-family: Inter;
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
        margin: 0 0 32px;
    }
}