.footer{
    height: 18px;
    margin: 92px 48px 24px;
    display: flex;
    align-self: normal;
}
@media screen and (max-width: 768px){
    .footer{
        height: 18px;
        margin: 88px 24px 24px;
        display: flex;
        align-self: normal;
    }
}
@media screen and (max-width: 320px){
    .footer{
        width: 186px;
        height: 310px;
        margin: 64px 0 0 16px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-self: normal;
    }
}