.place__paragraph{
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    width: 484px;
    margin:  0 0 24px;
}
.place__paragraph:last-child{
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph{
        font-family: Inter;
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        line-height: 163%;
        color: #FFFFFF;
        width: 456px;
        margin:  0 0 24px;
    }
    .place__paragraph:last-child{
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .place__paragraph{
        width: 352px;
        font-family: Inter;
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
    .place__paragraph:last-child{
        margin: 0;
    }
}
@media screen and (max-width: 320px){
    .place__paragraph{
        width: 288px;
        font-family: Inter;
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
        margin: 0 16px 24px;
    }
    .place__paragraph:last-child{
        margin: 0 16px 0;
    }
}