.cover {
    max-width: 1184px;
    position: relative;
    margin-top: 92px;
    margin-left: 48px;
    height: 740px;
    align-self: center;
}
.cover:hover .cover__overlay{
    opacity: 0.8;
    transition: all 1s ease-in-out;
}
@media (max-width: 1250px) {
    .cover{
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 1240px) {
    .cover{
        height: 640px;
    }
}
@media (max-width: 768px) {
    .cover {
        margin: 88px 0 0;
        height: 480px;
    }
}
@media (max-width: 523px){
    .cover{
        width: fit-content;
        height: 200px;
    }
}
