.places__place__image{
    width: 460px;
    height: 460px;
    align-self: end;
    justify-self: start;
    margin-right: 34px;
}
@media screen and (max-width: 1024px) {
    .places__place__image{
        width: 420px;
        height: 420px;
        align-self: end;
        justify-self: start;
        margin-right: 34px;
    }
}
@media screen and (max-width: 768px) {
    .places__place__image{
        width: 340px;
        height: 340px;
        align-self: end;
        justify-self: start;
        margin-right: 28px;
    }
}
@media screen and (max-width: 320px) {
    .places__place__image{
        width: 320px;
        height: 320px;
        align-self: end;
        justify-self: start;
        margin: 0 0 32px;
    }
}