.lead{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1005px;
    margin-top: 56px;
    margin-bottom: 92px;
}
@media screen and (max-width: 1024px) {
    .lead{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 928px;
        height: 962px;
        margin-top: 56px;
        margin-bottom: 92px;
    }
}
@media screen and (max-width: 768px) {
    .lead{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 768px;
        height: 862px;
        margin-top: 56px;
        margin-bottom: 92px;
    }
}
@media screen and (max-width: 320px){
    .lead{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 320px;
        height: 406px;
        margin-top: 106px;
        margin-bottom: 64px;
    }
}

